<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Entra y comprueba, selecciona la cantidad que necesitas, elige el plazo que quieras y comprueba por ti mismo. Manejamos la tasa de interés más baja. Tramita tu préstamo hoy mismo.">
    <meta name="robot" content="index, follow">
    <meta name="author" content="codipix.com - Diseño web y Marketing digital">
    <title>Calcula tu préstamo, la cantidad que necesites al plazo que elijas con la tasa de interés más baja | Cree Ce Más Tapachula </title>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
     <!-- Bootstrap Core CSS -->
   <link href="css/style.css" rel="stylesheet">
   <link href="css/creecemas.css" rel="stylesheet">
   <link rel="stylesheet" href="css/bootstrap-slider.css">
   <link rel="stylesheet" href="css/hover.css">
   
   <script>
    window.addEventListener("load", function(event) {
      $('#loading').fadeOut('slow');
    });
  </script>  
   
</head>

<body class="page" ng-app="app">
  <div id="loading">
    <img id="loading-image" src="./img/logo-ico.png" alt="Loading..." />
  </div>

  <header class="header-wrapper" >
    <div id="header-contact"></div>
    <!-- Navigation -->
    <div id="navigation"></div>
    <div class="hero" style="background-image:url(img/calcula-tu-credito-bg.jpg);">
      <div class="overlay">
            <div class=" site-heading">
              
              <h1 class="">Calcula tu préstamo</h1>
              
            </div>
        
      </div>
    </div> 
  </header>
<main ng-controller="calculadoraCtrl">
  <div class="container py-5 my-5">
    <div class="row align-items-center">
      <div class="col-12 col-md-6 text-center">
            <h3 class="h2">¿Cuanto necesitas?</h3>
            <p>
              <slider ng-model="cantidad" id="cantidadSlider" min="cantidadOptions.min" step="cantidadOptions.step" max="cantidadOptions.max" value="cantidadOptions.value" ng-change="changeCantidad()"></slider>
              <div class="text-center pt-3">
                <span  class="h3">{{ cantidad | currency }}</span>
              </div>
            </p>


            <h3 class="h2 mt-5">¿Plazo para pagar?</h3>
            <p>
                <slider ng-model="tiempo" id="tiempoSlider" min="tiempoOptions.min" step="tiempoOptions.step" max="tiempoOptions.max" value="tiempoOptions.value" ng-change="changeTiempo()"></slider>
                <div class="text-center pt-3">
                  <span class="h3">{{tiempo}}</span>
                  <span ng-switch on="periodoPago">
                    <span class="h3" ng-switch-when="Semanal">Semanas</span>
                    <span class="h3" ng-switch-when="Quincenal">Quincenas</span>
                    <span class="h3" ng-switch-default>Meses</span>
                  </span>
                </div>
            </p>
      </div>
      <div class="col-12 col-md-4 offset-md-1 text-center ">
        <div class="card bg-primary text-white border-0 shadow rounded-lg">
          <div class="card-body">
            <h4 class="card-title py-2 ">Pago <span>{{periodoPago | lowercase}}</span> de:</h4>
            <span class="card-text display-4">{{ pago | currency}}</span>
            <h4 class="card-title pt-3">Total a pagar</h4>
            <span class="card-text display-4">{{pagoTotal|currency}}</span>
            <p class="card-text mt-3"><small>CAT {{cat}}% (Más IVA)</small></p>

            <a href="./obten-tu-credito.html" class="btn btn-white rounded-pill hvr-pulse btn-lg mt-3">Tramita tu préstamo</a>
          </div>
        </div>
      </div>
    </div>
  </div><!--/container-->
  <div class="container">
    <div class="row my-5">
      <div class="table-responsive">
        <table class="table text-center table-hover ">
          <thead class="thead-inverse">
            <tr>
              <th class="text-center">Cantidad</th>
              <th class="text-center">Plazo</th>
              <th class="text-center">Tasa Mensual</th>
              <th class="text-center">Plazo Máximo</th>
              <th class="text-center">Tasa Anual Total (CAT)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>$10,000.00 - $20,000.00</td>
              <td>Quincenal</td>
              <td>5% más IVA</td>
              <td>52</td>
              <td>60%</td>
            </tr>
            <tr>
              <td>$21,000.00 - $100,000.00</td>
              <td>Mensual</td>
              <td>4% más IVA</td>
              <td>24</td>
              <td>48%</td>
            </tr>
            <tr>
              <td>$101,000.00 - $500,000.00</td>
              <td>Mensual</td>
              <td>3% más IVA</td>
              <td>48</td>
              <td>36%</td>
            </tr>
          </tbody>
        </table>
      </div><!--/table-responsive-->
    </div>

  </div>

</main>

<section id="cta-footer" class="cta-footer" style="background-image:url(./img/credit-fotter-bg.jpg)">
</section>
  <!-- Footer -->
  <footer id="section-footer" class="pt-5">
  </footer>
  

  <script src="js/handlebars.js"></script>
  <script src="js/jquery.js"></script>
  <script src="js/loadTemplates.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.js"></script>
  
  <script src="js/crecemas.js"></script>
  <script src="js/bootstrap-slider.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/ng-slider.js"></script>
  <script src="js/ng-buttons-ui.js"></script>
  <script src="js/calculator.js"></script>

</body>

</html>
